<div class="main-body">
  <div class="main-title" [routerLink]="['/']" >
    <p>
      {{"{  Cookous  } "}}
    </p>
  </div>

  <div class="main-frame shadow-lg mb-5 bg-white rounded">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
        <div class="cbp-hsinner">
          <ul class="cbp-hsmenu">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search-by-ingredients']">Search by Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search-per-filter']">Search per Filter</a>
            </li>
            <li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" #recipeSearch aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" (click)="searchRecipe(searchModal, recipeSearch.value)">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ng-template #searchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Did you mean:</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="recipe-list">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let query of searchedRecipes.results">
          <p (click)="findRecipes(query.search_value)">{{query.display}}</p>
          <ul class="list-group" *ngIf="checkList(query.search_value)">
            <li class="list-group-item" *ngFor="let recipe of recipeList.results">
              <p (click)="openRecipe(recipe.id)">{{recipe.name}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<ng-template #recipeModal let-modal>
  <div class="modal-body">
    <div class="recipe">
      <nav>
        <a (click)="modal.dismiss('Cross click')">
          <svg class="arrow" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 " stroke="#727272"/></svg>
          Go Back
        </a>
        <svg class="heart" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" stroke="#727272" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M340.8,98.4c50.7,0,91.9,41.3,91.9,92.3c0,26.2-10.9,49.8-28.3,66.6L256,407.1L105,254.6c-15.8-16.6-25.6-39.1-25.6-63.9  c0-51,41.1-92.3,91.9-92.3c38.2,0,70.9,23.4,84.8,56.8C269.8,121.9,302.6,98.4,340.8,98.4 M340.8,83C307,83,276,98.8,256,124.8  c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6L245.1,418l10.9,11l10.9-11l148.3-149.8  c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z" stroke="#727272"/></svg>
      </nav>
      <div class="photo">
        <img src="{{ getBackground(recipe) }}">
      </div>
      <div class="description">
        <h2>{{ recipe.name }} Noodle</h2>
        <h4 *ngIf="recipe.description !== null">Description</h4>
        <p *ngIf="recipe.description !== null">
          {{ recipe.description }}
        </p>
        <h4>Ingredience</h4>
        <div>
          <ul *ngFor="let ingredienceSection of recipe.sections">
            <li *ngFor="let ingredience of ingredienceSection.components">
              <p>{{ingredience.raw_text}}</p>
            </li>
          </ul>
        </div>
        <h4>Instructions</h4>
        <p *ngFor="let instruction of recipe.instructions">
          {{instruction.display_text}}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>
