@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$primary-color: #32521d;

.main-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .main-title {
    height: auto;
    min-height: 100px;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    > * {
      height: auto;
      min-height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-family: 'Pacifico', cursive;
      font-size: 6em;
      color: #423d3d;
    }
  }

  .main-frame {
    height: 100%;
    min-height: 800px;
    width: 100%;
    font-family: 'Roboto', sans-serif;

    .toolbar {
      background-color: #32521d;
      padding: 0;
      font-size: 18px;

      @font-face {
        font-family: 'bpmenu';
        font-weight: normal;
        font-style: normal;
      }

      /* Main menu wrapper */
      .cbp-hsmenu-wrapper {
        position: relative;
        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
        }
        .cbp-hsmenu {
          width: 90%;
          max-width: 69em;
          margin: 0 auto;
          padding: 0 1.875em;
        }
      }
      /* 100% width bar for menu */
      .cbp-hsinner {
        background: $primary-color;
        position: relative;
        z-index: 100;
      }

      .cbp-hsmenu {
        > li {
          margin-left: 4em;
          display: inline-block;
          form {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 10px;
            .form-control {
              width: 70%;

            }
          }

          > a {
            color: #fff;
            line-height: 1em;
            display: inline-block;
            position: relative;
            z-index: 10000;
            outline: none;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Montserrat', 'Roboto', sans-serif;
            font-weight: 300;
          }

          > a:not(:only-child):before {
            display: inline-block;
            speak: none;
            font-style: normal;
            font-variant: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            content: "\f107";
            font-size: 80%;
            margin-right: 0.3em;
            opacity: 0.4;
            vertical-align: middle;
          }

        }
        > li:first-child {
          margin-left: 0;
        }
        > li.cbp-hsitem-open {
          > a:not(:only-child):before {
            content: "\f106";
          }
        }


      }

      .no-touch .cbp-hsmenu > li > a:hover,
      .no-touch .cbp-hsmenu > li > a:focus,
      .cbp-hsmenu > li.cbp-hsitem-open {
        > a {
          color: $primary-color;
        }
        > a:after {
          top: 100%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: transparent;
          border-top-color: $primary-color;
          border-width: 10px;
          left: 50%;
          margin-left: -10px;
        }
      }

      /* Helper div for animating the background */
      .cbp-hsmenubg {
        background: #f7f7f7;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 0;
        height: 0px;
      }

      .no-touch .cbp-hsmenubg {
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        transition: height 0.3s;
      }

      @media screen and (min-width: 50em){
        .cbp-hsmenu {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          a {
            transition: 0.5s ease;
            text-decoration: none;
            border-top: 4px solid $primary-color;
            border-bottom: 4px solid $primary-color;
            padding: 10px 0;
          }

          a:hover {
            border-top: 4px solid #ffffff;
            border-bottom: 4px solid #ffffff;
            padding: 6px 0;
          }
        }
      }
      @media screen and (max-width: 65em){
        .cbp-hsmenu-wrapper {
          font-size: 80%;
        }
      }

      @media screen and (max-width: 51.4375em){
        .cbp-hsmenu-wrapper {
          font-size: 100%;
          .cbp-hsmenu {
            padding: 0;
            max-width: none;
            width: 100%;
            > li.cbp-hsitem-open .cbp-hssubmenu {
              height: auto;
            }
            > li {
              border-top: 1px solid rgba(255,255,255,0.5);
              text-align: center;
              margin: 0 auto;
              display: block;


              > a {
                display: block;
              }
              > a:not(:only-child):before {
                line-height: 1.8;
                right: 0;
                position: absolute;
                font-size: 200%;
              }
            }
            > li:first-child {
              border-top: none;
            }
          }
        }
        .cbp-hsmenubg {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .main-title {
    font-size: 3em;
  }
}
