<div class="main-body">
  <div class="main-title" [routerLink]="['/']" >
    {{"{  Cookous  } "}}
  </div>

  <div class="main-frame shadow-lg mb-5 bg-white rounded">
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
        <div class="cbp-hsinner">
          <ul class="cbp-hsmenu">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search-by-ingredients']">Search by Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/search-per-filter']">Search per Filter</a>
            </li>
            <li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

