@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.main-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .main-title {
    height: auto;
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 6em;
    color: #423d3d;
  }

  .main-frame {
    height: 100%;
    min-height: 800px;
    width: 100%;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;

    .toolbar {
      background-color: #32521d;
      padding: 0;
      font-size: 18px;

      .navbar{
        background-color: #32521d;
        padding: 0px;
      }
      #navbarSupportedContent {
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;

        >ul>li.active>a{
          color: #32521d;
          background-color: transparent;
          transition: all 0.7s;
        }

        ul {
          padding: 0px;
          margin: 0px;
        }

        li {
          list-style-type: none;
          float: left;

          a {
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;
            display: block;
            padding: 20px 20px;
            transition-duration:0.6s;
            transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
            position: relative;

            i {
              margin-right: 10px;
            }
          }
        }
        a:not(:only-child):after {
          content: "\f105";
          position: absolute;
          right: 20px;
          top: 10px;
          font-size: 16px;
          display: inline-block;
          padding-right: 3px;
          vertical-align: middle;
          font-weight: 900;
          transition: 0.5s;
        }

        .active>a:not(:only-child):after {
          transform: rotate(90deg);
        }
      }

      .hori-selector{
        display:inline-block;
        position:absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        transition-duration:0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: #fff;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 10px;

        .right, .left {
          position: absolute;
          width: 25px;
          height: 25px;
          background-color: #fff;
          bottom: 10px;
        }

        .right {
          right: -25px;
        }

        .left {
          left: -25px;
        }

        .right:before, .left:before{
          content: '';
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #32521d;
        }
        .right:before{
           bottom: 0;
           right: -25px;
        }

        .left:before{
          bottom: 0;
          left: -25px;
        }
      }

      .form-inline {
        padding: 0 20px;
        z-index: 100000;
      }

      @media (max-width: 991px) {
        #navbarSupportedContent ul li a {
          padding: 12px 30px;
        }
        .hori-selector {
          margin-top: 0px;
          margin-left: 10px;
          border-radius: 0;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          .left, right {
            right: 10px;
          }
          .left {
            top: -25px;
            left: auto;
          }
          .right {
            bottom: -25px;
          }
          .left:before {
            left: -25px;
            top: -25px;
          }
          .right:before {
            bottom: -25px;
            left: -25px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 610px) {
  .main-title {
    font-size: 3em;
  }
}
