<div class="filter-component">
    <div class="filters">
        <ul class="filter-checkboxes">
            <li class="filter-vegetarian">
                <div class="checkbox">
                    <input (change)="onSelectVegetarian($event)" class="checkbox" type="checkbox" id="checkboxVegetarian" name="vegetarian">
                </div>
                <div class="label">
                    <label for="checkboxVegetarian" id="labelVegetarian">vegetarian</label>
                </div>
            </li>
            <li class="filter-vegan">
                <div class="checkbox">
                    <input (change)="onSelectVegan($event)" class="checkbox" type="checkbox" id="checkboxVegan" name="vegan">
                </div>
                <div class="label">
                    <label for="checkboxVegan" id="labelVegan">vegan</label>
                </div>
            </li>
            <li class="filter-meat">
                <div class="checkbox">
                    <input (change)="onSelectMeat($event)" class="checkbox" type="checkbox" id="checkboxMeat" name="meat">
                </div>
                <div class="label">
                    <label for="checkboxMeat" id="labelMeat">meat</label>
                </div>
            </li>
            <li class="filter-fish">
                <div class="checkbox">
                    <input (change)="onSelectFish($event)" class="checkbox" type="checkbox" id="checkboxFish" name="fish">
                </div>
                <div class="label">
                    <label for="checkboxFish">fish</label>
                </div>
            </li>
            <li class="filter-main-dish">
                <div class="checkbox">
                    <input (change)="onSelectMainDish($event)" class="checkbox" type="checkbox" id="checkboxMainDish" name="main-dish">
                </div>
                <div class="label">
                    <label for="checkboxMainDish">main dish</label>
                </div>
            </li>
            <li class="filter-dessert">
                <div class="checkbox">
                    <input (change)="onSelectDessert($event)" class="checkbox" type="checkbox" id="checkboxDessert" name="dessert">
                </div>
                <div class="label">
                    <label for="checkboxDessert">dessert</label>
                </div>
            </li>
        </ul>
    </div>

    <div class="recipes">
        <ul id="recipes">
            <li *ngFor="let number of numbers">
                <div class="favouriteIcon">
                    <a (click)="changeFavourite()"><fa-icon [icon]="heart"></fa-icon></a>
                </div>
                <a href="#">
                    <div class="recipe-image">
                        <img src="../assets/img/pexels-artem-beliaikin-929192.jpg">
                    </div>
                    <div class="recipe-description">
                        <div class="recipe-title">
                            <div class="recipe-header">
                                <h3>Bolognese</h3>
                            </div>
                            <div class="recipe-main">
                                <p>#meat #main-dish</p>
                            </div>
                        </div>
                        <div class="recipe-stats">
                            <div class="stars">
                                <li>
                                    <a><fa-icon [icon]="fasStar"></fa-icon></a>
                                    <a><fa-icon [icon]="fasStar"></fa-icon></a>
                                    <a><fa-icon [icon]="fasStar"></fa-icon></a>
                                    <a><fa-icon [icon]="fasStar"></fa-icon></a>
                                    <a><fa-icon [icon]="farStar"></fa-icon></a>
                                </li>
                            </div>
                            <div class="time">
                                <div class="time-symbol">
                                    <fa-icon [icon]="farClock"></fa-icon>
                                </div>
                                <div class="time-main">
                                    15 Mins
                                </div>
                            </div>
                            <div class="users">
                                <div class="users-symbol">
                                    <fa-icon [icon]="farUsers"></fa-icon>
                                </div>
                                <div class="users-main">
                                    Serves 2
                                </div>

                            </div>
                        </div>

                    </div>
                    

                </a>
            </li>
        </ul>
    </div>
</div>