.filter-container {
    display: flex;
    height: 100%;

    }

.split {
    float: left;
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: scroll;
    padding: 10px;
    margin-top: -1px;
    }

.filter {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    }

.recipes {
    position: relative;
    width: 70%;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    color: #212529;
    }

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: -2.5em;
}


li img {
    float: left;
    margin: 0 15px 0 0;
    width: 7em;
}

li {
    padding: 10px;
    overflow: auto;
    border: 1px solid #A9A9A9;
    margin-top: -1px;
    background-color: #ccf7bf;
    border-radius: 16px;
    margin-bottom: 10px;
}

li:hover {
    background: #F1F3F4;
    cursor: pointer;
    text-decoration: none;
}

p {
    color: #535b63

}
a {
    color: #212529

}

a:hover {
    text-decoration: none;
}

.time-icon {
    position: relative;
}
